body{


    background: url('../images/api_giphy_header.gif') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          -o-background-size: cover;
        color: red;
  }




button{
  font-family: 'Press Start 2P', cursive;

  color: blue;

background-color: yellow

}

button:hover {
  border:2px solid red;

}
